sudo: required
language: python
python:
- '3.6'
env:
  matrix:
  - TEST_DIR="tests/"
before_install:
- travis_retry pip install --upgrade pip
install:
- travis_retry pip install --upgrade --editable .
script:
- pytest -vvv "$TEST_DIR"
